.box{
    width: 500px;
    height: 550px;
   border: 5px solid black;
    background-color: white;
    border-radius: 20px;
    background-image: url(background.webp);
}
.blue{
    background-color: rgba(24, 24, 155, 0.637);
    font-size: x-large;
    text-align: center;
    width: 500px;
    height: 100px;
display: grid;
place-items: center;
text-align: center;
    color: white;
    border-radius: 2px;
    
}
.name{
    width: 300px;
}
.head{
    background-image: url(book.jpg);
   
}